In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("DockerJupyterSpark") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/12 03:41:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    ("Rahul", "IT", 70000),
    ("Anita", "HR", 50000),
    ("John", "Finance", 65000),
    ("Priya", "Sales", 55000),
]

columns = ["name", "department", "salary"]

df_small = spark.createDataFrame(data, columns)

df_small.show()

+-----+----------+------+
| name|department|salary|
+-----+----------+------+
|Rahul|        IT| 70000|
|Anita|        HR| 50000|
| John|   Finance| 65000|
|Priya|     Sales| 55000|
+-----+----------+------+

In [5]:
df = spark.read.csv("/opt/spark-data/tips.csv", header=True, inferSchema=True)

In [6]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|Female|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+